@import 'tailwindcss';

* {
  box-sizing: border-box;
}

/* Custom Text Shadow */
.text-shadow-red {
  text-shadow: 2px 2px 4px rgba(220, 38, 38, 0.7); /* Red shadow */
}

.text-shadow-blue {
  text-shadow: 2px 2px 4px rgba(37, 99, 235, 0.7); /* Blue shadow */
}

.text-shadow-green {
  text-shadow: 2px 2px 4px rgba(34, 197, 94, 0.7); /* Green shadow */
}

.text-shadow-purple {
  text-shadow: 2px 2px 4px rgba(139, 92, 246, 0.7); /* Purple shadow */
}

.text-shadow-black {
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.8); /* Increased blur and opacity */
}

.text-shadow-xl {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Extra large shadow */
}

.gold {
  color: gold;
}
